.cross-button {
    @include reset-button;
    @include square(44px);
  
    position: relative;
    top: -4px;
    left: 10px;
    border-radius: var(--border-radius-small);
    border:1px solid white;
    border-radius: var(--border-radius);
  
    @include hover {
      background-color: var(--color-accent);
    }
  
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 47%;
    left: 13px;
      width: 38%;
      height: 2px;
      background-color: var(--color-light);
      border-radius: 5px;
      
    }
  
    &::before {
      rotate: 45deg;
    }
  
    &::after {
      rotate: -45deg;
    }
  }
  