.sale {
  background-color: var(--color-red);

  &__inner {
    padding-block: 87px;
    margin-inline: auto;
    max-width: 1040px;
    justify-content: space-between;
    display: flex;
    column-gap: 20px;
    padding-inline: 10px;

    @include mobile {
      flex-direction: column;
      row-gap: 40px;
      align-items: center;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    color: var(--color-light);
    max-width: 476px;
    width: 100%;

    @include mobile {
      row-gap: 10px;
      max-width: 300px;
    }

    &-title {
      @include fluid-text(36, 30);
      font-weight: 600;
      @include mobile {
        text-align: center;
      }
    }

    &-description {
      @include fluid-text(20, 16);
      @include mobile{
        text-align: center;
    }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    &-button {
      @include reset-button;
      @include fluid-text(18, 16);
      padding-block: 19px;
      background-color: var(--color-dark);
      color: var(--color-light);
      border-radius: 5px;
      height: var(--input-height);

      @include hover {
        opacity: 0.7;
      }

      @include mobile{
        height: 60px;
      }
    }
  }
}
