.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;

  &:hover &__text {
    visibility: visible;
    opacity: 1;
  }

  &__icon {
    display: inline-block;
    @include square(24px);
    background-color: rgba(20, 16, 36, 0.08);
    font-size: 16px;
    text-align: center;
    border-radius: 50%;
    margin-left: 10px;
    @include hover {
      opacity: 0.7;
    }
  }

  &__text {
    visibility: hidden;
    opacity: 0;
    width: 255px;
    background-color: var(--color-light);
    color: var(--color-dark);
    text-align: center;
    padding: 15px 20px;
    border-radius: var(--border-radius-small);
    position: absolute;

    bottom: 125%;
    left: 400%;

    @include tablet {
        bottom: 130%;
        left: 50%;
        width: 225px;
      }

    @include mobile {
      bottom: 130%;
      left: -91%;
      width: 225px;
    }

    transform: translateX(-50%);
    transition: opacity 0.3s;
    z-index: 1;
    box-shadow: 0px 2px 8px 0px rgba(20, 16, 36, 0.1);
    @include fluid-text(16, 14);
    font-weight: 400;
  }
}
