:root {
  --color-dark: #141024;
  --color-darl-opacity: rgba(20, 16, 36, 0.7);
  --color-light: #ffffff;
  --color-red: #d52027;
  --color-gray: #282944;

  --border: 1px solid rgba(20, 16, 36, 0.2);
  --border-icon: 1px solid white;
  --border-radius: 10px;
  --border-radius-small: 5px;
  --border-radius-large: 20px;
  --border-radius-bold: 40px;

  --font-family: "Jost", sans-serif; //значение базового шрифта Jost 400 600

  --container-width: 1160px; 
  --container-padding-x: 10px; //значение базового внутреннего отступа контейнера по горизонтали для мобилки

  --section-padding-y: 120px; //внутренние отступы секций и свеху и снизу

  --input-height: 64px; 
  --button-height: 79px; 

  --transition-duration: 0.2s;

  //   @include desktop {
  //     --section-padding-y: 50px;
  //   }

  //   @include mobile {
  //     --section-padding-y: 60px;
  //   }
}
